# Slidev files
node_modules/
dist/
.slidev/
*.local

# Bun
bun.lock

# Symlinks created by dev/build scripts
lessons/**/components
lessons/**/public
lessons/**/global-bottom.vue

# OS
.DS_Store
Thumbs.db
